.container {
	align-items: center;
	border-radius: 8px;
	border-top: 1px solid var(--gray-400);
	display: flex;
	flex-direction: column;
	gap: 16px;
	justify-content: center;
	margin-top: 24px;
	padding: 64px 24px;
}

.description {
	color: var(--gray-300);
	text-align: center;
}

.descriptionTextBold {
	font-weight: 700;
}

.descriptionText {
	font-weight: 400;
}

@media only screen and (max-width: 576px) {
	.container {
		margin-top: 12px;
		padding: 32px 12px;
	}

	.icon {
		height: 48px;
		width: 48px;
	}

	.description {
		font-size: 14px;
	}
}
